<div class="container mb-3">
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/welcome" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Welcome</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/search" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/submit" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Submit</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <router-outlet></router-outlet>
    </div>
</div>