<div class="container">
    <p class="alert alert-success" *ngIf="saveSuccess">Note saved successfully!</p>
    <p class="alert alert-danger" *ngIf="error">{{ error.message }}</p>
    <form (ngSubmit)="submit(form)" #form="ngForm">
        <div class="form-group col-sm-8 col-md-6 col-lg-4 mt-3">
            <label for="title">Title</label>
            <input id="title" type="text" class="form-control" 
            [ngClass]="{'is-invalid': !title.valid && title.touched, 'is-valid': title.valid && title.touched}" 
            name="title" #title="ngModel" ngModel required pattern="[\w ]+">
            <div class="invalid-feedback" *ngIf="title.errors && title.errors.required">
                The title must not be empty!
            </div>
            <div class="invalid-feedback" *ngIf="title.errors && title.errors.pattern">
                The title can only contain alphanumeric characters and spaces.
            </div>
            <div class="valid-feedback">
                The title is valid!
            </div>
        </div>
        <div class="form-group col-sm-10 col-md-8 col-lg-6 mt-3">
            <label for="body">Body</label>
            <textarea id="body" class="form-control" rows="4" name="body" 
            [ngClass]="{'is-invalid': !body.valid && body.touched, 'is-valid': body.valid && body.touched}"
            #body="ngModel" ngModel required></textarea>
            <div class="invalid-feedback">
                The body must not be empty!
            </div>
            <div class="valid-feedback">
                The body is valid!
            </div>
        </div>
        <button type="submit" class="btn btn-primary ml-3" [disabled]="!form.valid">Submit</button>
    </form>
</div>