<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let note of notesService.notes | keyvalue">
                <td>{{ note.value.title }}</td>
                <td>{{ note.value.user.username }}</td>
                <td>{{ note.value.date | date: 'HH:mm:ss dd-MM-yyyy' }}</td>
            </tr>
        </tbody>
    </table>
</div>